#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
binlog_format=ROW
# bind-address=0.0.0.0
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=122M
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_provider_options="gcache.size=300M; gcache.page_size=300M"
wsrep_cluster_name="VagrantCluster"
# wsrep_node_name="VagrantNode01"
# wsrep_node_address="192.168.33.10"
wsrep_cluster_address="gcomm://192.168.33.10,192.168.33.20,192.168.33.30"
wsrep_sst_method=rsync

[mysql_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid



#
# include all files from the config directory
#
!includedir /etc/my.cnf.d


